<div class="largeFields">
    <div class="fieldRow">
        <div class="field short">
            {{ form_widget(changePasswordForm.password.first, { 'attr' : {'class' : 'phone'}} ) }}
            <div class="sublabel">New Password</div>
            {{ write_form_errors(changePasswordForm.password.first) }}
        </div>
        <div class="field short">
            {{ form_widget(changePasswordForm.password.second) }}
            <div class="sublabel">Repeat password</div>
            {{ write_form_errors(changePasswordForm.password.second) }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>