{% extends "HackhousePublicBundle:Email:base.html.twig" %}

{% block subject %}
    {{ subject }}
{% endblock %}

{% block body %}
<p>You are receiving this email because someone initiated a temporary password reset on our website.
    Your password is now: <strong>{{ password }}</strong></p>

<p>You may now

    <a href="{{ url('login', {'email' : email }) }}">login</a> and reset it.</p>

Thanks,<br />
The 10 Minute Dose Team<br>
<br>


{% endblock %}